<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[*]WebAPI.*</Include>
          <Exclude>[*]WebAPI.Persistence.*,[*]WebAPI.Migrations.*,[*]WebAPI.Extensions.*,[*]WebAPI.Program,Program</Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeAssembliesWithoutSources>MissingAny</ExcludeAssembliesWithoutSources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>