<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[*]Console.*</Include>
          <Exclude>[*]Console.Program,[*]Console.App,[*]Console.Extensions.*, [*]Console.Common.ConsoleWriter, [*]Console.Localization.LocalizableSentenceBuilder,[*]Program,[*]Console.Resources.*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeAssembliesWithoutSources>MissingAny</ExcludeAssembliesWithoutSources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>